<mat-toolbar color="primary">      
    <button mat-raised-button [routerLink]="['/home']">
      Formula-1 Team Editor
    </button>

    <span class="example-spacer"></span>
   
    <button *ngIf="!isLoggedIn()"  mat-raised-button color="red" [routerLink]="['/login']">Login</button>
    <button *ngIf="isLoggedIn()" mat-raised-button color="red" [routerLink]="['/create']">Create Team</button>&nbsp;
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="accent"><mat-icon>reply</mat-icon>Logout</button>
</mat-toolbar>