<mat-card>
  <mat-card-content>
    <form [formGroup]="createTeamForm">
      <h2>Create Team</h2>
      
      <mat-form-field>
        <input matInput placeholder="Team name" formControlName="name" required>
        <mat-error>
          Please provide a valid name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Wins</mat-label>
        <mat-error>
            Please provide a valid number of wins
          </mat-error>
        <input matInput type="number"  placeholder="Ex. 0" formControlName="wins">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Founded</mat-label>
        <mat-error>
            Please provide the valid year of founding
          </mat-error>
        <input matInput type="number" minlength="4" placeholder="Ex. 1994" formControlName="foundYear">
      </mat-form-field>

      <mat-form-field>
        <input hidden=true matInput>
        <mat-checkbox matInput formControlName="isPaid">Paid</mat-checkbox>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!createTeamForm.valid" (click)="create()" >Create</button>
    </form>
  </mat-card-content>
</mat-card>