
<div class="flexbox-parent">

  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    
    <ng-container matColumnDef="found">
      <th mat-header-cell *matHeaderCellDef>Foundation</th>
      <td mat-cell *matCellDef="let element">{{element.foundYear}}</td>
    </ng-container>
  
    
    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef>Wins</th>
      <td mat-cell *matCellDef="let element">{{element.wins}}</td>
    </ng-container>
  
    
    <ng-container matColumnDef="isPaid">
      <th mat-header-cell *matHeaderCellDef>Paid</th>
      <td mat-cell *matCellDef="let element">{{element.isPaid}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" >
            <button mat-button (click)="editTeam(element.teamId)"><mat-icon>edit</mat-icon></button>
            <button mat-button (click)="deleteTeam(element.teamId)"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>