<p>login works!</p>

<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h2>Log In</h2>
      
      <mat-form-field>
        <input matInput placeholder="username" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()" >Login</button>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="cred">
      Username or password is invalid!
    </div>
  </mat-card-content>
</mat-card>